.spinner {
  width:4em;
  height:4em;
  background:#37cdbe;
  border-radius:50%;
  margin:5em auto;
  border:.3em solid transparent;
  animation:glow 1s ease infinite;
}

@keyframes glow {
  0% {box-shadow:0 0 0 .4em #37cdbe, 0 0 0 .1em #37cdbe; transform:rotate(360deg);}
  50% {border-top-color:#605556;}
  100% { box-shadow:0 0 0 .4em #37cdbe, 0 0 0 3.6em transparent;}
}